<% if session[:user_id].present? %>

  <h1>Editing Article #<%= @article.id %></h1>

  <%= form_tag(article_url(@article), method: 'patch') do %>
    <div>
      <%= label_tag :name %><br />
      <%= text_field_tag :name, @article.name %>
    </div>

    <div>
      <%= label_tag :author %><br />
      <%= text_field_tag :author, @article.author %>
    </div>

    <div>
      <%= submit_tag "Update Article" %>
    </div>
  <% end %>

<% end %>