<h1>Articles</h1>

<p><%= link_to 'Add a New Article', new_article_url %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.author %></td>
      <% if session[:user_id].present? %>
        <td><%= link_to 'Show', article_url(article) %></td>
        <td><%= link_to 'Edit', edit_article_url(article) %></td>
        <td><%= link_to 'Destroy', article_url(article), method: 'delete', data: { confirm: "Do you really want to delete this article?" } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="col-md-4">

<h1>New Article</h1>

<%= form_tag(articles_url, method: 'post') do %>
  <div class="form-group">
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div class="form-group">
    <%= label_tag :author %><br />
    <%= text_field_tag :author %>
  </div>

  <div class="form-group">
    <%= submit_tag "Add Article!", :class => 'btn btn-default' %>
  </div>
<% end %>
</div>
