<h1>Editing Movie #<%= @movie.id %></h1>

<%= form_tag(movie_url(@movie), method: 'patch') do %>
  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title, @movie.title %>
  </div>

  <div>
    <%= label_tag :image %><br />
    <%= text_field_tag :image, @movie.image %>
  </div>

  <div>
    <%= label_tag :link %><br />
    <%= text_field_tag :link, @movie.link %>
  </div>

  <div>
    <%= submit_tag "Update Movie" %>
  </div>
<% end %>
