<% if session[:user_id].present? %>

  <h1>Editing Contact #<%= @contact.id %></h1>

  <%= form_tag(contact_url(@contact), method: 'patch') do %>
    <div>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, @contact.email %>
    </div>

    <div>
      <%= label_tag :twitter %><br />
      <%= text_field_tag :twitter, @contact.twitter %>
    </div>

    <div>
      <%= label_tag :linkedin %><br />
      <%= text_field_tag :linkedin, @contact.linkedin %>
    </div>

  <div>
    <%= label_tag :angel_list %><br />
    <%= text_field_tag :angel_list %>
  </div>

  <div>
    <%= label_tag :quora %><br />
    <%= text_field_tag :quora %>
  </div>

    <div>
      <%= submit_tag "Update Contact" %>
    </div>
  <% end %>

<% end %>
