<h1>Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Twitter</th>
      <th>Linkedin</th>
      <th>AngelList</th>
      <th>Quora</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.email %></td>
      <td><%= contact.twitter %></td>
      <td><%= contact.linkedin %></td>
      <td><%= contact.angel_list %></td>
      <td><%= contact.angel_list %></td>
      <% if session[:user_id].present? %>
        <td><%= link_to 'Show', contact_url(contact) %></td>
        <td><%= link_to 'Edit', edit_contact_url(contact) %></td>
        <td><%= link_to 'Destroy', contact_url(contact), method: 'delete', data: { confirm: "Do you really want to delete this contact?" } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="col-md-4">

<h1>New Contact</h1>

<%= form_tag(contacts_url, method: 'post') do %>
  <div class="form-group">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

  <div class="form-group">
    <%= label_tag :twitter %><br />
    <%= text_field_tag :twitter %>
  </div>

  <div class="form-group">
    <%= label_tag :linkedin %><br />
    <%= text_field_tag :linkedin %>
  </div>

  <div class="form-group">
    <%= label_tag :angel_list %><br />
    <%= text_field_tag :angel_list %>
  </div>

  <div class="form-group">
    <%= label_tag :quora %><br />
    <%= text_field_tag :quora %>
  </div>

  <div class="form-group">
    <%= submit_tag "Create Contact", :class => "btn-btn-default" %>
  </div>
<% end %>
</div>

