
<h1>Editing Post #<%= @post.id %></h1>

<%= form_tag(post_url(@post), method: 'patch') do %>
  <div>
    <%= label_tag :header %><br />
    <%= text_field_tag :header, @post.header %>
  </div>

  <div>
    <%= label_tag :sub_header %><br />
    <%= text_field_tag :sub_header, @post.sub_header %>
  </div>

  <div>
    <%= label_tag :date %><br />
    <%= text_field_tag :date, @post.date %>
  </div>

  <div>
    <%= label_tag :content %><br />
    <%= text_area_tag :content, @post.content %>
  </div>

  <div>
    <%= submit_tag "Update Post" %>
  </div>
<% end %>

