<div class="container">

<h1>Post #<%= @post.id %></h1>

<dl>
  <dt>Header</dt>
  <dd><%= @post.header %></dd>

  <dt>Sub header</dt>
  <dd><%= @post.sub_header %></dd>

  <dt>Date</dt>
  <dd><%= @post.date %></dd>

  <dt>Content</dt>
  <dd><%= @post.content %></dd>

</dl>

</div>